@model HomeModel

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo, @Model.Nome</h1>
    <p>Meu primeiro Site em MVC</a>.</p>
    <span>Seu e-mail é: @Model.Email</span>
    <p>Sitema de Controle de Contatos</p>
</div>
